@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue";
  src: url(assets/fonts/NeueMontreal-Regular.otf);
}

body {
  font-family: "Neue", sans-serif;
  color: white;
  scroll-behavior: smooth;
}

.dropdown {
  position: fixed;
  margin: 3%;
  display: inline-block;
  top: 0px;
  right: 0px;
  z-index: 1;
}

.project:hover{
  opacity: 80%;
}





.dropdown-toggle {
  background-color: #11111160;
  backdrop-filter: blur(5px);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  border-radius: 5px;
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding: 10px 0;
  z-index: 1;
  overflow: hidden;
  width: 200px;
  transition: all 0.3s ease;

  
}

.dropdown-item {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  color: white;
}

.dropdown-item:hover {
  background-color: #00000096;
}

.text-shadow{
  text-shadow: 1px 1px 10px #000000;
}

.bloque > div {
  margin-block: 40px; /* Puedes ajustar el valor del margen según tus necesidades */
}

ul>li {
  list-style-type: circle;
  margin-block: 10px;
}

.iconos{
  box-shadow:  -11px -11px 27px #0b0b0b,
  11px 11px 27px #292929;
  transition: all 0.3s ease;
}

.iconos:hover{
  box-shadow:  -11px -11px 27px #292929,
  11px 11px 27px #0b0b0b;
}

.dropdown-menu > a {
  width: 100%;
  text-align: center;
}

.bloque{
  min-height: 650px;
  view-timeline-name: --bloque;
  view-timeline-axis: block;
  animation-timeline: --bloque ;
  animation-name: show;
  animation-range: entry 25% cover 50%;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
  
}

